<a href="https://colab.research.google.com/github/JCentercreation/Google-Colaboratory/blob/main/AprendiendoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DECLARACION DE VARIABLES**
En Python no es necesario definir el tipo de variable 
que se trata pues Python le asignara automaticamente un tipo. Lo unico que tenemos que tener en cuenta es que las cadenas de caracteres deben de definirse entre comillas (" " o ` ').

No obstante, en cocasiones puede ser conveniente especificar el tipo de variable:

In [ ]:
a = 2
b = 3
c = a + b
c

5

**Aprende Python** - Curso completo para principiantes (freeCodeCamp.org) YOUTUBE

In [ ]:
print("Hello World")

Hello World

In [ ]:
name = "Javi"
age = "32"
male = True
print("Hola mi nombre es " + name + " y tengo " + age + " años")
if male == True:
  print("Soy un chico")
else:
  print("Soy una chica")

Hola mi nombre es Javi y tengo 32 años
Soy un chico

In [ ]:
print("Probando el salto\ndelinea")

Probando el salto
delinea

In [ ]:
print("Probando introduccion de \"comillas\" como texto")

Probando introduccion de "comillas" como texto

In [ ]:
phrase = "Javier"
print(phrase + " es guay")
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
phrase2 = "MARTA"
print(phrase2.isupper())
print(phrase2.lower().islower())
print(len(phrase2))
len(phrase)
print(phrase[0])
print(phrase[1])
print(phrase[2])
print(phrase[3])
print(phrase[4])
print(phrase[5])
print(phrase.index("J"))
print(phrase.index("a"))
print(phrase.index("j")) #esto nos dara error porque distungue entre mayus y minus
print(phrase.index("ier"))

Javier es guay
javier
JAVIER
False
True
True
5
J
a
v
i
e
r
0
1

ValueError: ignored

In [ ]:
phrase = "Javier"
print(phrase.index("ier")) #esto devolvera 3 pues "ier" comienza en la posicion 3 de la cadena de caracteres

3

In [ ]:
phrase = "Javier es guay"
print(phrase.replace("Javier", "Pepe"))
phrase = "Pxtxtx"
print(phrase.replace("x", "a"))

Pepe es guay
Patata

In [ ]:
print(10 % 3) #El operando % nos devuelve el resto de una division

1

In [ ]:
num = 5
print(num + "es mi numero favorito") #esto va a dar error porque las concatenaciones se tienen que realizar dntre variables de tipo string, y num no es una string

TypeError: ignored

In [ ]:
num = -5
print(str(num) + " es mi numero favorito")
print(abs(num))
print(pow(num, 2))
print(pow(num, 3))
print(max(num, 3))
print(min(num, 3))
num = 3.897
print(round(num))
print(round(2.112))

-5 es mi numero favorito
5
25
-125
3
-5
4
2

In [ ]:
from math import * #de esta forma se importa la biblioteca "math" (funciones matematicas)

num = 3.8
print(floor(num)) #esta funcion elimina los decimales, pero no redondea
print(ceil(num)) #esta funcion elimina los decimales pero redondeando hacia arriba siempre
print(ceil(3.01))
print(ceil(-2.9))
print(sqrt(25))

3
4
4
-2
5.0

 **INTRODUCIENDO DATOS POR PARTE DEL USUARIO**

In [ ]:
name = input("Hola, como te llamas?")
print("Hola " + name)
age = input("Cual es tu edad?")  #ojo porque los inputs del usuario se almacenan como strings
print("Te llamas " + name + " y tienes " + age)
int(age) + 10 #de esta forma convertimos el string en un numero

Hola, como te llamas?Javier
Hola Javier
Cual es tu edad?32
Te llamas Javier y tienes 32

42

Mad Libs Game

In [ ]:
name = input("Introduce un nombre ")
colour = input("Introduce un color")
plural = input("Introduce un nombre plural")

print(plural + " are red")
print("roses are " +  colour)
print(name + " loves you")

Introduce un nombre Ariana Grande
Introduce un colorAmarillo
Introduce un nombre pluralTostadoras
Tostadoras are red
roses are Amarillo
Ariana Grande loves you

**LISTAS**

In [ ]:
amigos = ["Amador", "Fernando", "Carmen"]
usuario = ["Javi", 32, True]
print(amigos[0])
print(usuario[2])
print(usuario[-1])
print(amigos[-2])
print(amigos[0:2]) #delimita el rango [ : ) de la lista
print(amigos[0:]) #solicita mostrar todos los elementos de la lista
amigos[1] = input("Dime el nombre") #modificando una lista
print(amigos[0:])
nuevos_amigos = ["Laura", "George"]
amigos.extend(nuevos_amigos) #sirve para unir dos listas
print(amigos)
amigos.append(input("Dime el nombre del nuevo amigo")) #añade un nuevo item al final de una lista
print(amigos[0:])
amigos.insert(1, input("Dime el nombre de tu segundo (posicion 2) amejor amigo")) #sirve para insertar un nuevo item pero esta vez en la psicion de la lista que nosotros queramos
print(amigos[0:])
amigos.remove(input("Dime el nombre del amigo que quieres eliminar")) #sirve para eliminar el item de la lista que nosotros queramos
print(amigos[0:])
amigos.pop() #sirve para eliminar el ultimo item de la lista
print(amigos[0:])
print(amigos.index(input("Dime el nombre del amigo y te digo la posicion en la lista"))) #devuelve la posicion en la lista del item que le digamos
print(amigos.count(input("Dime el nombre de un amigo y te digo cuantas veces aparece en la lista"))) #nos dice el numero de veces que se repite un item en la lista
amigos.sort() #sirve para ordenar alfabeticament/o de menor a mayor una lista
print(amigos[0:])
amigos.reverse() #sirve para ordenar de mayor a menor una lista
print(amigos[0:])
amigos2 = amigos.copy()
print(amigos2[0:])
amigos.clear() #sirve para eliminar TODOS los items de una lista
print(amigos[0:])

Amador
True
True
Fernando
['Amador', 'Fernando']
['Amador', 'Fernando', 'Carmen']
Dime el nombreAmador
['Amador', 'Amador', 'Carmen']
['Amador', 'Amador', 'Carmen', 'Laura', 'George']
Dime el nombre del nuevo amigoAmador
['Amador', 'Amador', 'Carmen', 'Laura', 'George', 'Amador']
Dime el nombre de tu segundo (posicion 2) amejor amigoAmador
['Amador', 'Amador', 'Amador', 'Carmen', 'Laura', 'George', 'Amador']
Dime el nombre del amigo que quieres eliminarCarmen
['Amador', 'Amador', 'Amador', 'Laura', 'George', 'Amador']
['Amador', 'Amador', 'Amador', 'Laura', 'George']
Dime el nombre del amigo y te digo la posicion en la listaAmador
0
Dime el nombre de un amigo y te digo cuantas veces aparece en la listaAmador
3
['Amador', 'Amador', 'Amador', 'George', 'Laura']
['Laura', 'George', 'Amador', 'Amador', 'Amador']
['Laura', 'George', 'Amador', 'Amador', 'Amador']
[]

**TUPLAS (ESTRUCTURA DE DATOS)**

In [ ]:
coordenadas = (3, 89) #a diferencia de las listas, las tuplas no se pueden modificar una vez se crean
print(coordenadas[0])
print(coordenadas[1])
coordenadas[1] = 23 #Si intentamos asignar un nuevo valor a una entrada de la tupla nos dara error

3
89

TypeError: ignored

In [ ]:
coordenadas = [(23, 67), (45, 80), (22,11)] #Podemos crear una lista de tuplas
print(coordenadas[0:])
coordenadas[1] = (4, 4) #En este caso si podemos modificar las entradas porque se trata de una lista
print(coordenadas[0:])

[(23, 67), (45, 80), (22, 11)]
[(23, 67), (4, 4), (22, 11)]

**FUNCIONES**

In [ ]:
def Hola():
  print("Hello user")

Hola()

Hello user

In [ ]:
def Hola(name):
  print("Hello " + name)

def User():
  name = input("Bienvenido, dime tu nombre\n")
  return name

Hola(User())

Bienvenido, dime tu nombre
Javier
Hello Javier

In [ ]:
def Hola(name, age):
  print("Hola " + name + ", tienes " + age)

def Name():
  name = input("Dime tu nombre\n")
  return name

def Age():
  age = input("Dime tu edad\n")
  return age

Hola(Name(), Age())

Dime tu nombre
Javier
Dime tu edad
32
Hola Javier, tienes 32

**IF**

In [ ]:
a = 1
b = 0.5
c = 24
if a < b:
  print("a es menor que b")

if a < b and a < c:
  print("a es menor que b y menor que c")

if b > a and b < c:
  print("b puede ser cualquier numero mayor que a o menor que c")
elif b == 0:
  print("b es 0")
else:
  print("b no esta entre a y c y tampoco es 0")

if not (a > b) and not (c > b):
  print("a y c son menor que b")

b no esta entre a y c y tampoco es 0

In [ ]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3

max = max_num(float(input("Numero1: ")), float(input("Numero2: ")), float(input("Numero3: ")))
print("El numero mayor es " + str(max))

**DICCIONARIOS**

In [3]:
traductorMeses = { #De esta forma se define un Diccinario
    "January":"Enero",
    "February":"Febrero",
    "March":"Marzo",
    "April":"Abril",
    "May":"Mayo",
    "June":"Junio",
    "July":"Julio",
    "August":"Agosto",
    "September":"Septiembre",
    "October":"Octubre",
    "November":"Noviembre",
    "December":"Diciembre",
}

print(traductorMeses["November"]) #De esta forma se llamma al diccionario

Noviembre