<a href="https://colab.research.google.com/github/JCentercreation/Google-Colaboratory/blob/main/UsingPandasToExploreDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#En este bloque importamos los datos de una URL a un archivo csv
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status #Chequea que el request se ha realizado satisfactoriamente
with open(target_csv_path, "wb") as f: #Con with open lo que hacemos es abrir el archivo de la misma forma que lo haria open a solas pero sin la necesidad de tener que cerrarlo despues.
    f.write(response.content)

print("Donwload ready.")

#En este bloque le pedimos a Pandas que trate los datos del csv
import pandas as pd 

nba = pd.read_csv("nba_all_elo.csv")
type(nba) #con type lo que hacemos es que almacene la informacion como un DataFrame (tabla 2D) de Pandas

#Exploremos un poco el documento csv
print(len(nba))
print(nba.shape) #Nos muestra el numero de filas y de columnas
print(nba.head()) #Nos muestra la cabecera de la tabla asi como las ultimas entradas de la misma. Es util para chequear de forma visual el contenido del DataFrame

pd.set_option("display.max.columns", None) #Esto hace que las cabeceras de cada columna este en el lugar adecuado para una correcta visualización
pd.set_option("display.precision", 2) #Asi podemos cambiar el numero de decimales que queremos que muestre, en este caso le pedimos solo 2

print(nba.head())
print(nba.tail()) #Nos muestra solo las ultimas entradas del DataFrame

print(nba.tail(3)) #Nos muetras las ultimas 3 entradas (filas) del DataFrame

print(nba.info()) #Nos muestra el titulo de cada cabecera (cabecera de columna) así como el tipo de variable que almacena

print(nba.describe()) #NOS MUESTRA ESTADISTICAS BASICAS DE CADA COLUMNA. Fijemonos que las columnas cuyo tipo de variable es object (que suele ser un string) no nos muestra ningún tipo de estadistica.

#Utilizaremos la libreria numpy para poder tratar tambien las variables object
import numpy as np
print(nba.describe(include = np.object_)) #Utilizando numpy si podemos tratar las variables object. Aunque al no tratarse de numeros el tipo de estadisticas que muestra es diferente

Donwload ready.
126314
(126314, 23)
   gameorder       game_id lg_id  ...  game_result  forecast notes
0          1  194611010TRH   NBA  ...            L  0.640065   NaN
1          1  194611010TRH   NBA  ...            W  0.359935   NaN
2          2  194611020CHS   NBA  ...            W  0.631101   NaN
3          2  194611020CHS   NBA  ...            L  0.368899   NaN
4          3  194611020DTF   NBA  ...            L  0.640065   NaN

[5 rows x 23 columns]
   gameorder       game_id lg_id  _iscopy  year_id  date_game  seasongame  \
0          1  194611010TRH   NBA        0     1947  11/1/1946           1
1          1  194611010TRH   NBA        1     1947  11/1/1946           1
2          2  194611020CHS   NBA        0     1947  11/2/1946           1
3          2  194611020CHS   NBA        1     1947  11/2/1946           2
4          3  194611020DTF   NBA        0     1947  11/2/1946           1

   is_playoffs team_id  fran_id  pts    elo_i    elo_n  win_equiv opp_id  \
0            0     TRH  Huskies   66  1300.00  1293.28      40.29    NYK
1            0     NYK   Knicks   68  1300.00  1306.72      41.71    TRH
2            0     CHS    Stags   63  1300.00  1309.65      42.01    NYK
3            0     NYK   Knicks   47  1306.72  1297.07      40.69    CHS
4            0     DTF  Falcons   33  1300.00  1279.62      38.86    WSC

   opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  \
0    Knicks       68    1300.00    1306.72             H           L
1   Huskies       66    1300.00    1293.28             A           W
2    Knicks       47    1306.72    1297.07             H           W
3     Stags       63    1300.00    1309.65             A           L
4  Capitols       50    1300.00    1320.38             H           L

   forecast notes
0      0.64   NaN
1      0.36   NaN
2      0.63   NaN
3      0.37   NaN
4      0.64   NaN
        gameorder       game_id lg_id  _iscopy  year_id  date_game  \
126309      63155  201506110CLE   NBA        0     2015  6/11/2015
126310      63156  201506140GSW   NBA        0     2015  6/14/2015
126311      63156  201506140GSW   NBA        1     2015  6/14/2015
126312      63157  201506170CLE   NBA        0     2015  6/16/2015
126313      63157  201506170CLE   NBA        1     2015  6/16/2015

        seasongame  is_playoffs team_id    fran_id  pts    elo_i    elo_n  \
126309         100            1     CLE  Cavaliers   82  1723.41  1704.39
126310         102            1     GSW   Warriors  104  1809.98  1813.63
126311         101            1     CLE  Cavaliers   91  1704.39  1700.74
126312         102            1     CLE  Cavaliers   97  1700.74  1692.09
126313         103            1     GSW   Warriors  105  1813.63  1822.29

        win_equiv opp_id   opp_fran  opp_pts  opp_elo_i  opp_elo_n  \
126309      60.31    GSW   Warriors      103    1790.96    1809.98
126310      68.01    CLE  Cavaliers       91    1704.39    1700.74
126311      60.01    GSW   Warriors      104    1809.98    1813.63
126312      59.29    GSW   Warriors      105    1813.63    1822.29
126313      68.52    CLE  Cavaliers       97    1700.74    1692.09

       game_location game_result  forecast notes
126309             H           L      0.55   NaN
126310             H           W      0.77   NaN
126311             A           L      0.23   NaN
126312             H           L      0.48   NaN
126313             A           W      0.52   NaN
        gameorder       game_id lg_id  _iscopy  year_id  date_game  \
126311      63156  201506140GSW   NBA        1     2015  6/14/2015
126312      63157  201506170CLE   NBA        0     2015  6/16/2015
126313      63157  201506170CLE   NBA        1     2015  6/16/2015

        seasongame  is_playoffs team_id    fran_id  pts    elo_i    elo_n  \
126311         101            1     CLE  Cavaliers   91  1704.39  1700.74
126312         102            1     CLE  Cavaliers   97  1700.74  1692.09
126313         103            1     GSW   Warriors  105  1813.63  1822.29

        win_equiv opp_id   opp_fran  opp_pts  opp_elo_i  opp_elo_n  \
126311      60.01    GSW   Warriors      104    1809.98    1813.63
126312      59.29    GSW   Warriors      105    1813.63    1822.29
126313      68.52    CLE  Cavaliers       97    1700.74    1692.09

       game_location game_result  forecast notes
126311             A           L      0.23   NaN
126312             H           L      0.48   NaN
126313             A           W      0.52   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB
None
       gameorder   _iscopy    year_id  seasongame  is_playoffs        pts  \
count  126314.00  126314.0  126314.00   126314.00    126314.00  126314.00
mean    31579.00       0.5    1988.20       43.53         0.06     102.73
std     18231.93       0.5      17.58       25.38         0.24      14.81
min         1.00       0.0    1947.00        1.00         0.00       0.00
25%     15790.00       0.0    1975.00       22.00         0.00      93.00
50%     31579.00       0.5    1990.00       43.00         0.00     103.00
75%     47368.00       1.0    2003.00       65.00         0.00     112.00
max     63157.00       1.0    2015.00      108.00         1.00     186.00

           elo_i      elo_n  win_equiv    opp_pts  opp_elo_i  opp_elo_n  \
count  126314.00  126314.00  126314.00  126314.00  126314.00  126314.00
mean     1495.24    1495.24      41.71     102.73    1495.24    1495.24
std       112.14     112.46      10.63      14.81     112.14     112.46
min      1091.64    1085.77      10.15       0.00    1091.64    1085.77
25%      1417.24    1416.99      34.10      93.00    1417.24    1416.99
50%      1500.95    1500.95      42.11     103.00    1500.95    1500.95
75%      1576.06    1576.29      49.64     112.00    1576.06    1576.29
max      1853.10    1853.10      71.11     186.00    1853.10    1853.10

        forecast
count  126314.00
mean        0.50
std         0.22
min         0.02
25%         0.33
50%         0.50
75%         0.67
max         0.98
             game_id   lg_id  date_game team_id fran_id  opp_id opp_fran  \
count         126314  126314     126314  126314  126314  126314   126314
unique         63157       2      12426     104      53     104       53
top     200204210DET     NBA  4/13/2011     BOS  Lakers     BOS   Lakers
freq               2  118016         30    5997    6024    5997     6024

       game_location game_result           notes
count         126314      126314            5424
unique             3           2             231
top                H           L  at New York NY
freq           63138       63157             440